.header-container {
    display: flex;
    align-items: center;
    }
    
    .navigation {
    display: flex;
    align-items: center;
    }
    
    .menu-list {
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    flex-shrink: 0;
    align-items: center;
    }    
    
    
    
    .menu-link.current::before {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: 2px;
    }
    
    .header-social-list-icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    background-position: center;
    fill: currentColor;
    }
    
    .icon-cell {
    width: 10px;
    height: 16px;
    }
    
    
    
    .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    }
    
    .menu-item:not(:last-child) {
    height: 16px;
    }
    
    .studio {
    color: var(--meny-color);
    }
    
    .menu-link,
    .mail-link,
    .tel-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--meny-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms linear;
    }
    
    
    .menu-link:hover,
    .menu-link:focus {
    color: var(--accent-color);
    }
    
    .mail-link:hover,
    .mail-link:focus {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 16px; 
    }
    
    .tel-link:hover,
    .tel-link:focus {
    color: var(--accent-color);
    }
    